@import "mixins/breakpoints";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

img {
    max-width: 100%;
}

.main {
    padding: 3rem 1.3rem;
    @include laptop {
        padding: 6rem 6rem;
    }
}
